# Interactive Data Science Assignment 2
## Data Cleaning and Merging

## Vaccination data

In [1]:
# Required libraries
import pandas as pd

In [2]:
# Reading the vaccination count file
vaccine_df = pd.read_csv("country_vaccinations.csv")

# Converting date column's datatype as datetime
vaccine_df['date'] = pd.to_datetime(vaccine_df['date'], format='%Y-%m-%d')

# Sorting the values by country and date
vaccine_df = vaccine_df.sort_values(by=['country', 'date'])
vaccine_df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...

In [3]:
# Columns to be forward filled
cols = ['total_vaccinations']

In [4]:
# Forward filling - group by country
vaccine_df[cols] = vaccine_df.groupby('country')[cols].ffill().fillna(0).astype(int)
vaccine_df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
1,Afghanistan,AFG,2021-02-23,0,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
2,Afghanistan,AFG,2021-02-24,0,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
3,Afghanistan,AFG,2021-02-25,0,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...
4,Afghanistan,AFG,2021-02-26,0,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://app.powerbi.com/view?r=eyJrIjoiYTkyM2V...

In [5]:
# Taking only the required columns
vaccine_df = vaccine_df[['country', 'date', 'total_vaccinations']]

# Calculating the daily vaccination count
vaccine_df['daily_vaccinations'] = vaccine_df['total_vaccinations'].diff()
# Removing country wide daily calculation
vaccine_df.loc[vaccine_df['daily_vaccinations'] < 0, 'daily_vaccinations'] = 0

In [6]:
print (len(vaccine_df['total_vaccinations']))
vaccine_df.head()

48113

       country       date  total_vaccinations  daily_vaccinations
0  Afghanistan 2021-02-22                   0                 NaN
1  Afghanistan 2021-02-23                   0                 0.0
2  Afghanistan 2021-02-24                   0                 0.0
3  Afghanistan 2021-02-25                   0                 0.0
4  Afghanistan 2021-02-26                   0                 0.0

## Covid count data

In [7]:
# Reading the covid count file
covid_df = pd.read_csv("covid count.csv")

# Converting date column's datatype as datetime
covid_df['date'] = pd.to_datetime(covid_df['date'], format='%Y-%m-%d')

# Sorting the values by country and date
covid_df = covid_df.sort_values(by=['country', 'date'])
covid_df.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-02-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-02-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-02-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-02-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-02-19,Afghanistan,0.0,NaN,0.0,0.0,NaN

In [8]:
# Columns to be forward filled
cols = ['cumulative_total_cases', 'daily_new_cases', 'active_cases', 'cumulative_total_deaths', 'daily_new_deaths']

In [9]:
# Forward filling - group by country
covid_df[cols] = covid_df.groupby('country')[cols].ffill().fillna(0).astype(int)
print(len(vaccine_df['total_vaccinations']))
covid_df.head()

48113

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-02-15,Afghanistan,0,0,0,0,0
1,2020-02-16,Afghanistan,0,0,0,0,0
2,2020-02-17,Afghanistan,0,0,0,0,0
3,2020-02-18,Afghanistan,0,0,0,0,0
4,2020-02-19,Afghanistan,0,0,0,0,0

## Population data

In [10]:
# Reading the population file
pollution_df = pd.read_csv("population.csv")

# Getting only required columns
pollution_df = pollution_df[['Country (or dependency)', 'Population (2020)']]

# Renaming the columns for uniformity
pollution_df.columns = ['country', 'population']

print (len(pollution_df))
pollution_df.head()

235

         country  population
0          China  1440297825
1          India  1382345085
2  United States   331341050
3      Indonesia   274021604
4       Pakistan   221612785

## Zoom Stocks data

In [11]:
# Reading the zoom stocks file
zoom_df = pd.read_csv("Zoom stocks.csv")

# Converting date column's datatype as datetime
zoom_df['Date'] = pd.to_datetime(zoom_df['Date'], format='%Y-%m-%d')

# Sorting the values by country and date
zoom_df = zoom_df.sort_values(by=['Date'])

# Calculating the average stock value for the day
zoom_df['value'] = zoom_df[['High', 'Low']].mean(axis=1)

# Getting the required columns and renaming them
zoom_df = zoom_df[['Date', 'value']]
zoom_df. columns = ['date', 'zoom_stock']

print (len(zoom_df))
zoom_df.head()

619

        date  zoom_stock
0 2019-04-18   63.160500
1 2019-04-22   64.420001
2 2019-04-23   69.859501
3 2019-04-24   67.330000
4 2019-04-25   64.724998

## Facebook Stocks data

In [12]:
# Reading the fb stocks file
fb_df = pd.read_csv("FB stocks.csv")

# Converting date column's datatype as datetime
fb_df['date'] = pd.to_datetime(fb_df['time'], format='%Y-%m-%dT%H:%M:%SZ').dt.date

# Sorting the values by country and date
fb_df = fb_df.sort_values(by=['date'])

# Calculating the average stock value for the day
fb_df['fb_stock'] = fb_df[['high', 'low']].mean(axis=1)

# Getting the required columns
fb_df = fb_df[['date', 'fb_stock']]

print (len(fb_df))
fb_df.head()

2359

         date   fb_stock
0  2012-05-18  41.500000
1  2012-05-21  34.830000
2  2012-05-22  32.265000
3  2012-05-23  31.930000
4  2012-05-24  32.490005

## Uber Stocks data

In [13]:
# Reading the uber stocks file
uber_df = pd.read_csv("Uber stocks.csv")

# Converting date column's datatype as datetime
uber_df['Date'] = pd.to_datetime(uber_df['Date'], format='%Y-%m-%d')

# Sorting the values by country and date
uber_df = uber_df.sort_values(by=['Date'])

# Calculating the average stock value for the day
uber_df['value'] = uber_df[['High', 'Low']].mean(axis=1)

# Getting the required columns and renaming them
uber_df = uber_df[['Date', 'value']]
uber_df.columns = ['date', 'uber_stock']

print (len(uber_df))
uber_df.head()

605

        date  uber_stock
0 2019-05-10   43.030000
1 2019-05-13   37.660002
2 2019-05-14   38.404998
3 2019-05-15   40.415001
4 2019-05-16   42.655000

## Moderna Stocks data

In [14]:
# Reading the moderna stocks file
moderna_df = pd.read_csv("Pharma stocks.csv")

# Converting date column's datatype as datetime
moderna_df['Date'] = pd.to_datetime(moderna_df['Date'], format='%Y-%m-%d')

# Sorting the values by country and date
moderna_df = moderna_df.sort_values(by=['Date'])

# Calculating the average stock value for the day
moderna_df['value'] = moderna_df[['High_Moderna', 'Low_Moderna']].mean(axis=1)

# Getting the required columns and renaming them
moderna_df = moderna_df[['Date', 'value']]
moderna_df. columns = ['date', 'moderna_stock']

print (len(moderna_df))
moderna_df.head()

496

        date  moderna_stock
0 2019-10-10         14.140
1 2019-10-11         14.345
2 2019-10-14         13.970
3 2019-10-15         13.990
4 2019-10-16         14.170

## Merging the Country specific data - Covid Vaccination, Covid Count and Population

In [15]:
# Checking the countries that has covid count info but no vaccination data
no_vaccine = covid_df[~covid_df['country'].isin(vaccine_df['country'].unique())]['country'].unique()
no_vaccine

array(['Antigua And Barbuda', 'Bosnia And Herzegovina',
       'Brunei Darussalam', 'Burundi', 'Cabo Verde',
       'Caribbean Netherlands', 'Channel Islands', 'China Hong Kong Sar',
       'China Macao Sar', 'Cote D Ivoire', 'Czech Republic',
       'Democratic Republic Of The Congo', 'Eritrea',
       'Falkland Islands Malvinas', 'French Guiana', 'Guadeloupe',
       'Guinea Bissau', 'Holy See', 'Isle Of Man', 'Macedonia',
       'Marshall Islands', 'Martinique', 'Mayotte', 'Micronesia',
       'Reunion', 'Saint Barthelemy', 'Saint Kitts And Nevis',
       'Saint Martin', 'Saint Pierre And Miquelon',
       'Saint Vincent And The Grenadines', 'Sao Tome And Principe',
       'Sint Maarten', 'State Of Palestine', 'Swaziland', 'Timor Leste',
       'Trinidad And Tobago', 'Turks And Caicos Islands', 'UK', 'USA',
       'Viet Nam', 'Wallis And Futuna Islands', 'Western Sahara'],
      dtype=object)

In [16]:
# Checking the countries that has covid vaccination info but no count data
no_covid = vaccine_df[~vaccine_df['country'].isin(covid_df['country'].unique())]['country'].unique()
no_covid

array(['Antigua and Barbuda', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Brunei', 'Cape Verde', 'Cook Islands',
       "Cote d'Ivoire", 'Czechia', 'Democratic Republic of Congo',
       'England', 'Eswatini', 'Falkland Islands', 'Guernsey',
       'Guinea-Bissau', 'Hong Kong', 'Isle of Man', 'Jersey', 'Kiribati',
       'Kosovo', 'Macao', 'Nauru', 'Niue', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Palestine', 'Pitcairn',
       'Saint Kitts and Nevis', 'Saint Vincent and the Grenadines',
       'Sao Tome and Principe', 'Scotland', 'Sint Maarten (Dutch part)',
       'Timor', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'United Kingdom',
       'United States', 'Vietnam', 'Wales', 'Wallis and Futuna'],
      dtype=object)

In [17]:
# Renaming the country mismatches
covid_df.loc[covid_df['country'] == 'UK', 'country'] = 'United Kingdom'
covid_df.loc[covid_df['country'] =='USA', 'country'] = 'United States'

In [18]:
# Updating the variables
no_vaccine = covid_df[~covid_df['country'].isin(vaccine_df['country'].unique())]['country'].unique()
no_covid = vaccine_df[~vaccine_df['country'].isin(covid_df['country'].unique())]['country'].unique()

In [19]:
# Removing the non-match countries
covid_df = covid_df[~covid_df['country'].isin(no_vaccine)]
vaccine_df = vaccine_df[~vaccine_df['country'].isin(no_covid)]

In [20]:
# Merging the covid vaccination data and population data on country
country_df = pd.merge(vaccine_df, pollution_df, how="outer", on=["country"])

# Removing the countries where we don't have population and COVID vaccination count
country_df = country_df.dropna()

# Merging the resultant with covid count data on country and date
country_df['date'] = pd.to_datetime(country_df['date'])
covid_df['date'] = pd.to_datetime(covid_df['date'])
country_df = pd.merge(country_df, covid_df, how="outer", on=["country", "date"])

# Removing the rows where daily vaccination was 0 (places where vaccination file didn't have data)
country_df = country_df[country_df['daily_vaccinations'] != 0]

# Saving the file
country_df.to_csv("country.csv", index=False)

print(len(country_df))
country_df.head()

88339

,country,date,total_vaccinations,daily_vaccinations,population,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
5,Afghanistan,2021-02-28,8200.0,8200.0,39074280.0,55733.0,19.0,3956.0,2444.0,1.0
21,Afghanistan,2021-03-16,54000.0,45800.0,39074280.0,56016.0,21.0,4057.0,2460.0,0.0
43,Afghanistan,2021-04-07,120000.0,66000.0,39074280.0,56943.0,70.0,2487.0,2516.0,4.0
58,Afghanistan,2021-04-22,240000.0,120000.0,39074280.0,58542.0,196.0,3629.0,2565.0,4.0
77,Afghanistan,2021-05-11,504502.0,264502.0,39074280.0,62718.0,315.0,5502.0,2713.0,3.0

## Merging the Global data - Covid Vaccination, Count and other company stocks

In [21]:
# Converting covid vaccination and count data from country specific to global
vaccine_df = vaccine_df.groupby(['date'])['total_vaccinations'].sum().reset_index()
covid_df = covid_df.groupby(['date'])['active_cases'].sum().reset_index()

In [22]:
# Merging the covid vaccine and count data
global_df = pd.merge(vaccine_df, covid_df, how="outer", on=["date"])

# Merging the result with zoom stocks data
global_df = pd.merge(global_df, zoom_df, how="outer", on=["date"])

# Merging the result with fb stocks data
global_df['date'] = pd.to_datetime(global_df['date'])
fb_df['date'] = pd.to_datetime(fb_df['date'])
global_df = pd.merge(global_df, fb_df, how="outer", on=["date"])

# Merging the result with uber stocks data
global_df['date'] = pd.to_datetime(global_df['date'])
uber_df['date'] = pd.to_datetime(uber_df['date'])
global_df = pd.merge(global_df, uber_df, how="outer", on=["date"])

# Merging the result with moderna stocks data
global_df['date'] = pd.to_datetime(global_df['date'])
moderna_df['date'] = pd.to_datetime(moderna_df['date'])
global_df = pd.merge(global_df, moderna_df, how="outer", on=["date"])

# Removing the columns that has no data
global_df = global_df[global_df['fb_stock'].notna()]

# Saving the file
global_df.to_csv("global.csv", index=False)

print(len(global_df))
global_df.head()

2359

,date,total_vaccinations,active_cases,zoom_stock,fb_stock,uber_stock,moderna_stock
0,2020-12-01,1.0,13664335.0,418.354995,284.1300,50.240000,154.415001
1,2020-12-02,1.0,13685622.0,409.559998,286.3025,50.990000,138.950005
2,2020-12-03,1.0,13797882.0,412.095001,283.8600,52.805001,151.059998
3,2020-12-04,2.0,13932984.0,413.533005,281.3800,53.785000,153.165001
6,2020-12-07,2.0,14081817.0,411.126999,283.3450,54.260001,158.474998